#App {
  width: 100%;
  background-color: #f5f5f5;
  height: 100vh;
  min-height: 568px;
}
#navigation {
  background-color: #2962ff;
}
#home {
  border: solid 1px silver;
  width: 350px;
  margin: auto;
  height: 450px;
}
#logo {
  width: 100%;
  text-align: center;
}
#login-form {
  width: 250px;
  margin: auto;
  border: solid black 1px;
}

#spacer {
  width: 100%;
  height: 45px;
}
#layout-wrapper {
  padding: 0 10px;
}
#cart {
  height: 300px;
  overflow: auto;
}
.nav-link {
  color: white !important;
}
.shopping-cart-item {
  border: solid 1px black;
  width: 80%;
  margin: auto;
  margin-top: 10px;
}
.shopping-cart-item p {
  margin: 3px;
}
.card-with-link {
  width: 100%;
  border: solid silver .1px;
  background-color: white;
  margin-top: 10px;
  padding: 0 25px;
  box-sizing: border-box;
}
.card-with-link a:visited, .card-with-link a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  height: 100%;
  width: 100%;
}
.card-with-link a:hover {
  cursor: pointer;
}
main {
  padding: 0px 25px;
}
/*
  Desktop
*/
@media(min-width: 768px){
  #layout-wrapper {
    height: 620px;
    padding: 0 10px;
    background-color: white;
  }
  main {
    padding: 0px 10px;
  }
  #inventory-table {
    border: solid .5px silver;
    height: 500px;
    overflow: auto;
  }
}